.dashboard .plans-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    grid-template-rows: auto;
    gap: 15px;
}
.plan .btn1{
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid white;
    margin-bottom: .5rem;
    border-radius: 8px;
}
.plan .b-gr{
    outline: 2px solid var(--darkGreen);
}
.plan .b-bl{
    outline: 2px solid var(--darkBlue);
}
.plan .b-or{
    outline: 2px solid var(--darkOrange);
}
.plan li span{
    display: inline-block;
    width: 25px;
    text-align: center;
}
.plan li{
    position: relative;
    padding: .7rem 0;
    font-size: .8rem;
}
.plan li::before{
    position: absolute;
    content: '';
    width: 100%;
    height: .5px;
    bottom: 0;
    background-color: var(--second-bg);
}
.plan li::after{
    position: absolute;
    content: url(../imgs/circle-info-solid.svg);
    width: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 50%;
}
.fa-check{
    color: var(--darkGreen);
}
.fa-xmark{
    color: var(--darkRed);
}
.plan .btn:last-child{
    margin-top: .5rem;
}